body{
    margin: auto;
    width: 1000px;
    height: 1000px;
    background-image: linear-gradient(whitesmoke, beige, whitesmoke);
}
.menu{
    display: block;
    height: 80px;
    width: 100%;
    border-bottom: 3px solid darkgrey;
    font-family: Arial;
}

.menu1{
    background-color: white;
    padding-top:0;
    width: 100%;
    border-top: 3px solid darkgrey;
}
.menu1 div{
    padding-left: 50px;
}
.navb{
    display: inline-block;
    float: right;
    text-decoration: none;
    color: gray;
    margin: 30px;
    vertical-align: center;
    text-transform: uppercase;
    padding-right: 40px;

}

.navb2{
    display: inline-block;
    float: right;
    text-decoration: none;
    color: gray;
    text-transform: uppercase;
    padding-right: 57px;
    margin: 20px;
}

.table1{
    background-color: #e2bdba;
    color: white;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
    padding-left: 15%;
    font-family: "Apple Chancery", serif;
    font-style: oblique;

}
.table2{
    background-color: lightgray;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 5.5%;
    padding-right: 5.5%;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
}
.table2 div{
    background-color: #e2bdba;
    display: inline-block;
    border-radius: 20px;
    padding: 5px;
    width: 90%;
    margin: 10px;
    color: white;
    border: white 3px solid;
}
.table2 img{
    border-radius: 35px;
    border: white 3px solid;
    margin-top: 5px;
}
.table3{
    background-color: lightgray;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 100px;
    padding-right: 5%;
    padding-top: 1%;
}
.table3 a{
    text-decoration: none;
    color: hotpink;
}
input,select,textarea {
    background-color: #e2bdba ;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #e2bdba;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: hotpink;
}

.container {
    border-radius: 5px;
    background-color: lightgray;
    padding: 20px;
}
.table4 {
    background-color: lightgray;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
}
.table4 img{
    border-radius: 20px
}
.table4 h2,.table4 h1{
    text-align: center;
    background-color: #e2bdba;
    border-radius: 15px;
    padding: 10px;
}
.table4 td{
    width: 500px;
    padding: 15px;
}
#middle2{
    border-right: 3px solid darkgray;
    border-left: 3px solid darkgray;
    margin-left: 10px;
    padding-right: 10px;
}
#middle{
    border-right: 3px solid darkgray;
    border-left: 3px solid darkgray;
}
.table5{
    background-image: linear-gradient(darkgray, white, darkgray);
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #414040;
}
.table5 ul{
    list-style: none;
}
.table5 td{
    padding-left: 64px;
}